hw4_part1:
import sys
import glob
import Image as img
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import scipy.misc as misc 
from scipy import linalg
from pca_process import PCA_process
import PIL
import os

hw4_part2:
import os
import sys
import word2vec
import nltk
import numpy as np
from sklearn.manifold import TSNE
import matplotlib.pylab as plt
from adjustText import adjust_text

hw4_part3:
import numpy as np
import csv
import sys
from sklearn.svm import LinearSVR as SVR
from data_process import process
from sklearn.neighbors import NearestNeighbors

hand_rotation:
import os
import numpy as np
import csv
import sys
import glob
from scipy import misc
from sklearn.svm import LinearSVR as SVR
from hand_process import process
from sklearn.neighbors import NearestNeighbors

